Video Outline:
- Introduction to Variables
- Declaring and Assigning Variables
- Naming Conventions and Rules
- Understanding Variable Types
- Type Checking and Conversion
- Dynamic Typing
- Practical Examples and Common Errors

### Variables
a variable is a symbolic name (or label) that acts as a reference to an object stored in memory. Variables are used to store, manipulate, and reuse data throughout a program.

In [3]:
## Declaring And Assigning Variables

name = "Rahul"

a= 56
## printing the variables

print("a:", a)
print(name)

a: 56
Rahul

In [ ]:


#  Multiple variables, one value
x = y = z = 50

In [8]:
print(y)
print(z)

50
50

In [9]:
# Multiple variables, multiple values
x, y, z = 1,2,3

In [11]:
print(x)
print(y)
print(z)

1
2
3

In [ ]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names
a =7 
a_6 = 4
# Invalid variable names
#  6a = 4  -- This is not valid

In [19]:
print(a)
print(a_6)

7
4

### Rules for Naming Variables
- Variable names must adhere to specific rules to prevent syntax errors: 
- Must start with a letter (a-z, A-Z) or an underscore (_).
- Cannot start with a number (0-9).
- Can only contain alpha-numeric characters and underscores (A-z, 0-9, and _).
- Cannot be Python reserved keywords (e.g., if, for, class, print).
- Are case-sensitive (e.g., age, Age, and AGE are three different variables).

In [20]:
for = "Anyone"

SyntaxError: invalid syntax (1376957329.py, line 1)

## case sensitivity

In [22]:
age = 50
Age = 50
AGE = 50

In [28]:
Name = "Narsingh"
name = "NARSINGH"

In [29]:
name == Name

False

### Best Practices - [(PEP 8)](https://peps.python.org/pep-0008/)

 According to the official Style Guide for Python Code (PEP 8), it is recommended to use: 
- Meaningful names to enhance code readability (e.g., user_age is better than ua).
- snake_case (lowercase words separated by underscores) for variable names (e.g., total_count)

In [32]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
x = 5

print(type(x))

<class 'int'>

In [33]:
x = 5.0

print(type(x))

<class 'float'>

In [34]:
var=10 #int
print(var,type(var))

var="Hello"   #str
print(var,type(var))

var=3.14   #float
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [ ]:
## Type Checking and Conversion(type-casting)
print(var,type(var))

3.14 <class 'float'>

In [37]:
var = 3.14
print(type(var))
var = int(var)
print(type(var))

<class 'float'>
<class 'int'>

In [38]:
age = 32.5
print(type(age))
age = str(age)
print(type(age))
age = int(age)
print(type(age))

<class 'float'>
<class 'str'>

ValueError: invalid literal for int() with base 10: '32.5'

In [39]:
age = 32.5
print(type(age))
age = str(age)
print(type(age))
age = float(age)
print(type(age))

<class 'float'>
<class 'str'>
<class 'float'>

In [41]:
age = int(age)
print(type(age))
print(age)

<class 'int'>
32

In [42]:
Name = "Modi"
print(type(Name))

<class 'str'>

In [43]:
Name = int(Name)

ValueError: invalid literal for int() with base 10: 'Modi'

In [44]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes

var=10 #int
print(var,type(var))

var="Hello"   #str
print(var,type(var))

var=3.14   #float
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [46]:
# Quiz
### Simple calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 79.0
Difference: -33.0
Product: 1288.0
Quotient: 0.4107142857142857